BasedOnStyle: LLVM
Language: Cpp
Standard: Latest
ColumnLimit: 80
IndentWidth: 2
IndentCaseLabels: false
PointerAlignment: Right
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowAllArgumentsOnNextLine: false
SpaceAfterCStyleCast: true
Cpp11BracedListStyle: false
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: AlwaysBreak
InsertTrailingCommas: Wrapped
UseTab: Never
